// l - layout
// is-selected
.l-left
  text-align: left
.l-container
  max-width: 1000px
  margin: auto
.is-bold
  +Bold
.is-shadow
  box-shadow: 0px 6px 30px rgba(34, 34, 31, 0.08)
.is-dark
  color: #000
.fz-12
  font-size: 12px
.fz-14